<app-nav-bar> </app-nav-bar>

<div class="stadium-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-6">
    
            </div>
            <div class="col-6">
<div class="stadium">
<div class="pitch"></div>

  <div class="block-A" id="block_A">
    <div *ngFor="let row of block_A"> 
      <button *ngFor="let seat of row" [ngClass]="{'occupied': seat.occupied}" (click)="selectblock_A(block_A)">
        {{ seat.number }}
      </button> 
    </div>
    <br>
  </div>

  <div class="block-B" id="block_B">
    <div *ngFor="let row of block_B"> 
      <button *ngFor="let seat of row" [ngClass]="{'occupied': seat.occupied}" (click)="selectblock_B(block_B)">
        {{ seat.number }}
      </button> 
    </div>
  </div>

  <div class="block-C" id="block_C">
    <div *ngFor="let row of block_C"> 
      <button *ngFor="let seat of row" [ngClass]="{'occupied': seat.occupied}" (click)="selectblock_C(block_C)">
        {{ seat.number }}
      </button> 
    </div>
  </div>


  <div class="block-D" id="block_D">
    <div *ngFor="let row of block_D"> 
      <button *ngFor="let seat of row" [ngClass]="{'occupied': seat.occupied}" (click)="selectblock_D(block_D)">
        {{ seat.number }}
      </button> 
    </div>
  </div>
  </div>
</div>

  </div> </div>
</div>

<app-footer></app-footer>  