.stadium {
    width: 600px;
    height: 600px;
    border-radius: 300px;
    overflow: hidden;
    position: relative;
    background-color:yellow;
  }

  .stadium-wrapper {
    width: 100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .pitch {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    overflow: hidden;
    position: relative;
    background-color:green;
    margin: 150px;
  }
  
  .block-A {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 13px;
    left: 100px;
    transform: skewY(-15deg);
  }


  .block-B {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 133px;
    left: 364px;
    transform: skewY(15deg);
  }

  .block-C {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 495px;
    left: 89px;
    transform: skewY(15deg);
  }


  .block-D {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 374px;
    left: 365px;
    transform: skewY(-15deg);
  }


  