<div class="pt-5">
    <!--<h1 class="text-center">HTML Login Page with Bootstrap Example</h1>-->
    
  <div class="container login-bg">
                  <div class="row">
                      <div class="col-md-5 mx-auto">
                          <div class="card card-body">
                                                      
                              <form id="submitForm"  [formGroup]="loginForm" (ngSubmit)="submitForm()" >
                                  <div class="form-group required">
                                      <label for="username">Username / Email</label>
                                      <input type="text" class="form-control text-lowercase" id="username" required="" formControlName="username"  name="username" value="" >
                                  </div>                    
                                  <div class="form-group required">
                                      <label class="d-flex flex-row align-items-center" for="password" >Password 
                                          <a class="ml-auto border-link small-xl" href="/forget-password">Forget?</a></label>
                                      <input type="password" class="form-control" required="" formControlName="password"  id="password" name="password" value="">
                                  </div>
                                  <div class="form-group mt-4 mb-4">
                                      <div class="custom-control custom-checkbox">
                                          <input type="checkbox" class="custom-control-input" id="remember-me" name="remember-me" data-parsley-multiple="remember-me">
                                          <label class="custom-control-label" for="remember-me">Remember me?</label>
                                      </div>
                                  </div>
                                  <div class="form-group pt-1">
                                      <button class="btn btn-primary btn-block" type="submit" >Log In</button>
                                  </div>
                              </form>
                              <p class="small-xl pt-3 text-center">
                                  <span class="text-muted">Not a member?</span>
                                  <a [routerLink]="['register']">Sign up</a>
                              </p>
                          </div>
                      </div>
                  </div>
   </div>
</div>